@{
    Page.Title = "Parents Communication Need More Help";
    Layout = "~/_SiteLayout.cshtml";
}


<div class=container>
    <div class="row clearfix">
        <br>
        <div class="row">
            <div class="col-xs-6 col-sm-offset-1 col-sm-4">
                <div class="panel panel-danger">
                    <div class="panel-heading">Email Builder</div>
                    <div class="panel-body" style="height: 350px; word-break: break-all; overflow-y: scroll;">
                        <p>
                            Report to:
                            <label for="report1" style="float:right">Salvationarmy  </label>
                            <input type="radio" id="report1" name="Report" value="Salvationarmy" onclick="Email.changeAgency()" style="float:right" />
                            <label for="report2" style="float:right">YouthOfftheStreets  </label>
                            <input type="radio" id="report2" name="Report" value="YouthOfftheStreets" onclick="Email.changeAgency()" style="float:right" />
                            <br>
                            <br>
                            Your Name: <input id="name" oninput="Email.changeName()" style="float: right"></input>
                            <br>
                            <br>
                            School Name: <input id="school" oninput="Email.changeSchool()" style="float: right"></input>
                            <br>
                            <br>
                            Child Name: <input id="childname" oninput="Email.changeChildName()" style="float: right"></input>
                            <br>
                            <br>
                            Address of the kid: <input id="Address" oninput="Email.changeAddress()" style="float:right"></input>
                            <br>
                            <br>
                            Affair:
                            <label for="affair1" style="float: right">Absence due to Domestic Violence</label>
                            <input type="radio" id="affair1" name="Affair" value="Domestic Violence" onclick="Email.changeAffair()" style="float: right" />
                            <label for="affair2" style="float: right">Absence due to Financial Problem</label>
                            <input type="radio" id="affair2" name="Affair" value="Absence due to Financial Problem" onclick="Email.changeAffair()" style="float: right" />
                            <br>
                            <br>
                            <br>
                            Contact of the Kid:
                            <br>
                            <input type="radio" id="contact1" name="Contact" value="Father" onclick="Email.changeContact()" />
                            <label for="contact1">Father's Mobile</label>
                            <input type="radio" id="contact2" name="Contact" value="Mother" onclick="Email.changeContact()" />
                            <label for="contact2">Mother's Mobiel</label>
                            <input type="radio" id="contact3" name="Contact" value="Family" onclick="Email.changeContact()" />
                            <label for="contact3">LandLine</label>
                            <br>
                            Contact Name: <input id="contactName" oninput="Email.changeContactName()" style="float: right"></input>
                            <br>
                            <br>
                            Contact Number: <input id="contactNumber" oninput="Email.changeContactNumber()" style="float:right"></input>
                            <br>
                            <br>
                        </p>
                    </div>
                </div>
                <button class="btn btn-danger" onclick="Email.sendEmail()">Send the Email~</button>
            </div>
            <div class="col-xs-6 col-sm-offset-0 col-sm-4">
                <div class="panel panel-danger">
                    <div class="panel-heading">Email Preview</div>
                    <div class="panel-body" style="height: 410px; word-break: break-all; overflow-y: scroll;" name="message2">
                        <p id="emailDone">Generating...</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function Email(name) {
        // Changeable
        this.name = name;
        this.receiver = "";
        this.childname = "";
        this.school = "";
        this.event = "";
        this.Location = "";
        this.contact = "";
        this.Mobile = "";
        this.ParentName = "";

        this.changeContactNumber = () => {
            this.Mobile = document.getElementById("contactNumber").value;
            this.generate();
        }

        this.changeContactName = () => {
            this.ParentName = document.getElementById("contactName").value;
            this.generate();
        }

        this.changeAddress = () => {
            this.Location = document.getElementById("Address").value;
            this.generate();
        }

        this.changeContact = () => {
            var contacts = document.getElementsByName("Contact");
            var selectedcontact = "";

            for (var i = 0; i < contacts.length; i++) {
                if (contacts[i].checked)
                    selectedcontact = contacts[i].value;
            }

            switch (selectedcontact) {
                case "Father":
                    this.contact = "I know that you can make a contact with the father of kid, ";
                    break;
                case "Mother":
                    this.contact = "I know that you can make a contact with Mother of the kid, ";
                    break;
                case "Family":
                    this.contact = "I know that you can make a contact with landline, the number is ";
                    break;
                default:
                    this.contact = " ";
            }
            this.generate();
        }

        this.changeAgency = () => {
            var events = document.getElementsByName("Report");
            var selectedevent = "None";

            for (var i = 0; i < events.length; i++) {
                if (events[i].checked)
                    selectedevent = events[i].value;
            }
            console.log(selectedevent);

            switch (selectedevent) {
                case "Salvationarmy":
                    this.receiverEmail = "nigel.mapes@aus.salvationarmy.org";
                    this.receiver = "SalvationArmy";
                    break;
                case "YouthOfftheStreets":
                    this.receiverEmail = "info@youthoffthestreets.com.au ";
                    this.receiver = "YouthOfftheStreets";
                    break;
                default:
                    this.receiverEmail = " ";
            }
            this.generate();
        }

        this.changeName = () => {
            this.name = document.getElementById("name").value;
            this.generate();
        }

        this.changeSchool = () => {
            this.school = document.getElementById("school").value;
            this.generate();
        }

        this.changeChildName = () => {
            this.childname = document.getElementById("childname").value;
            this.generate();
        }

        this.changeAffair = () => {
            var events = document.getElementsByName("Affair");
            var selectedevent = "None";

            for (var i = 0; i < events.length; i++) {
                if (events[i].checked)
                    selectedevent = events[i].value;
            }
            console.log(selectedevent);

            switch (selectedevent) {
                case "Domestic Violence":
                    this.event = " facing a problem of domestic violence and absent from school for one week.";
                    break;
                case "Absence due to Financial Problem":
                    this.event = " facing a problem of financial and absent from school for one week";
                    break;
                default:
                    this.event = " ";
            }
            this.generate();
        }

        // Not Changeable
        this.last = "Best Regards";

        this.generate = () => {
            var space = "<br />" + "<br />"; //"%0D%0A" + "%0D%0A";
            var space2 = "%0D%0A" + "%0D%0A";
            this.application = "<b> Subject: Email from school teacher and seek help for kid. </b>";
            this.application2 = "Email from school teacher and seek help for kid.";

            var line1 = "Dear " + this.receiver + ",";
            var line2 = "I am a teacher " + " in " + this.school + ".";
            var line3 = "There is a student of mine called " + this.childname + " who may " + this.event;
            var line4 = "we recommend that you can have a help in your power and put this situation on records." +
                "The address of this kid is " +
                this.Location + ".";
            var line45 = this.contact + this.ParentName + ", whose mobile number is " + this.Mobile;
            var line5 = this.last;
            var line6 = this.name;

            this.content = this.application + space + line1 + space + line2 + space + line3 + space + line4 + space + line45 + space + line5 + space + line6;
            this.content2 = line1 + space2 + line2 + space2 + line3 + space2 + line4 + space2 + line45 + space2 + line5 + space2 + line6;

            this.update(this.content);
        }

        this.update = (e) => {
            document.getElementById("emailDone").innerHTML = e;
        }

        this.sendEmail = () => {
            var link = "mailto:" + this.receiverEmail + "?subject=" + this.application2 + "&body=" + this.content2;
            window.open(link);
        }
    }
    var Email = new Email("Dr Who");
    Email.generate();
</script>