@{
    Page.Title = "Teacher Helper";
    Layout = "~/_SiteLayout.cshtml";
}

<div class="container">
    <br>
    <div class="col-md-10 column">
        <div class="panel panel-success">
            <div class="panel-heading"></div>
            <div class="panel-body" style="height: 430px; word-break: break-all; overflow-y: scroll;">
                <iframe src="https://data.melbourne.vic.gov.au/w/jtcb-iab6/spy9-nmud?cur=XW0pdaZOa53&amp;from=hchymI02Stn" height="600" width="1180" frameborder="0" scrolling="no"></iframe>
            </div>
        </div>
    </div>
</div>