<!DOCTYPE html>
<html>
<head>
    <title>The Second Home - Facts</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="../JS/jquery-3.2.1.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <script src="../JS/bootstrap-toggle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../CSS/about.css">
</head>
<body>
<div class="container">
    <div class="row clearfix">
        <div>
            <p>
            <p>
            </p>
            </p>
        </div>
        <div class="col-md-12 column">
            <div class="row clearfix">
                <div class="col-md-4 column">
                    <img alt="200x68" src="../Image/second-home.jpg" />
                </div>
                <div class="col-md-6 column">
                </div>
                <div class="col-md-2 column">
                </div>
            </div>
            <ul class="breadcrumb">
                <li>
                    <a href="../index.html">Home</a>
                </li>
                <li class="active">
                    <a href="facts.html">Facts</a>
                </li>
                <li>
                    <a href="visualization.html">
                        Visualization
                    </a>
                </li>
                <li>
                    <a id="modal-137380" href="#modal-container-137380" data-toggle="modal">Quiz</a>
                    <div class="modal fade" id="modal-container-137380" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                    <h2 class="modal-title" id="myModalLabel">
                                        Declaration
                                    </h2>
                                </div>
                                <div class="modal-body">
                                    <ul>
                                        <li>
                                            This quiz is design for the user to identify the kids who will experience homelessness.
                                        </li>
                                        <li>
                                            Your answer will be recorded and analyzed.
                                        </li>
                                        <li>
                                            We also ensure that your privacy will not be leaked.
                                        </li>
                                        <li>
                                            Once your answers uploaded is identified as high-risk target, we will give you the opportunity to report this situation.
                                        </li>
                                    </ul>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> <button type="button" class="btn btn-primary" onClick = "window.location.href=('quiz.html')">Yes, Proceed</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li >
                    <a href="about.html">About</a>
                </li>
            </ul>

            <div class = "panel panel-default">
                <a data-toggle="collapse" href="#overview" aria-expanded="false" aria-controls="overview">
                    <div class="panel-heading w3-container w3-light-grey">
                        Effects of Homelessness on Children
                    </div>
                </a>
                <div class="panel-body" id="overview">
           <div class="row">
               <p>
               <h3>Health</h3>
               <ul>
                   <li>Ear Infections</li>
                   <li>Developmental delays</li>
                   <li>Nutritional deficits</li>
                   <li>Asthma</li>
<li>Behavioral issues</li>
                   <li>Low level of confidence</li>
                   <li>Lesser access to healthcare services</li>
               </ul>

               </p>
           </div>
                    <div class="row">
                        <p>
                            <h3>Education</h3>
                        <ul>
                            <li>
                                Emotional Isolation
                            </li>
                            <li>Difficulty to maintain relationships</li>
                            <li>Stigma and discrimination</li>
                            <li>Stress</li>
                            <li>Reduced concentration</li>
                            <li>Difficulty to learn</li>
                            <li>Absenteeism</li>
                            <li>Likelihood to drop out of school</li>
                        </ul>
                        </p>
                    </div>
                </div>
            </div>


        </div>
    </div>
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-2 column">
            </div>
            <div class="col-md-2 column">
            </div>
            <div class="col-md-2 column">
            </div>
            <div class="col-md-2 column">
            </div>
            <div class="col-md-2 column">
            </div>
            <div class="col-md-2 column">
                <span class="label label-default"> ©Team Y-Nots</span>
            </div>
        </div>
    </div>
    <div>
        <p>
        <p>
        </p>
        </p>
    </div>
</div>

</body>
</html>