<!DOCTYPE html>
<html>
<head>
    <title>The Second Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="../JS/jquery-3.2.1.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="../JS/Chart.js"></script>
</head>
<body>

<div class="container">
    <div class="row clearfix">
        <div>
            <p>
                <p>
                </p>
            </p>
        </div>
        <div class="col-md-12 column">
            <div class="row clearfix">
                <div class="col-md-4 column">
                    <img alt="200x68" src="../Image/second-home.jpg" />
                </div>
                <div class="col-md-6 column">
                </div>
                <div class="col-md-2 column">
                </div>
            </div>
            <ul class="breadcrumb">
                <li>
                    <a href="../index.html">Home</a>
                </li>
                <li>
                    <a href="facts.html">Facts</a>
                </li>
                <li class="active">
                    Visualization
                </li>
                <li>
                    <a id="modal-137380" href="#modal-container-137380" data-toggle="modal">Quiz</a>
                    <div class="modal fade" id="modal-container-137380" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                    <h2 class="modal-title" id="myModalLabel">
                                        Declaration
                                    </h2>
                                </div>
                                <div class="modal-body">
                                    <ul>
                                        <li>
                                            This quiz is design for the user to identify the kids who will experience homelessness.
                                        </li>
                                        <li>
                                            Your answer will be recorded and analyzed.
                                        </li>
                                        <li>
                                            We also ensure that your privacy will not be leaked.
                                        </li>
                                        <li>
                                            Once your answers uploaded is identified as high-risk target, we will give you the opportunity to report this situation.
                                        </li>
                                    </ul>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> <button type="button" class="btn btn-primary" onClick = "window.location.href=('quiz.html')">Yes, I know it</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="about.html">About</a>
                </li>
            </ul>
        </div>
        <div class="row clearfix">
            <div class="col-md-2 column">
            </div>
            <div class="col-md-2 column">
            </div>
            <div class="col-md-2 column">
                <button type="button" class="btn btn-default btn-block disabled">Previous</button>
            </div>
            <div class="col-md-2 column">
                <button type="button" class="btn btn-default btn-block" onClick = "window.location.href=('visualization1.html')">Next</button>
            </div>
            <div class="col-md-2 column">
            </div>
            <div class="col-md-2 column">
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-md-1 column">
            </div>
            <div class="col-md-10 column">
                <canvas id="myChart" width="1000" height="700"></canvas>
                <script>
                    var ctx = document.getElementById("myChart").getContext('2d');
                    Chart.defaults.global.defaultFontFamily = "Lato";
                    Chart.defaults.global.defaultFontSize = 12;
                    var myChart = new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: ["Domestic Violence", "Financial Difficulties", "Housing Crisis", "Inappropriate Dwellings", "Relationship Issues", "Accommodation Issues", "Health Issues", "Custody Transition", "Itinerant", "Lack of support", "Other"],
                            datasets: [{
                                label: '# Total 105237 Homelessness',
                                data: [25257, 21047, 16838, 11576, 8419, 5262, 4209, 2105, 1052, 1052, 8419],
                                backgroundColor: [
                                    'rgba(255, 99, 132, 0.2)',
                                    'rgba(54, 162, 235, 0.2)',
                                    'rgba(255, 206, 86, 0.2)',
                                    'rgba(75, 192, 192, 0.2)',
                                    'rgba(153, 102, 255, 0.2)',
                                    'rgba(255, 159, 64, 0.2)',
                                    'rgba(255, 99, 132, 0.2)',
                                    'rgba(54, 162, 235, 0.2)',
                                    'rgba(255, 206, 86, 0.2)',
                                    'rgba(75, 192, 192, 0.2)',
                                    'rgba(153, 102, 255, 0.2)'
                                ],
                                borderColor: [
                                    'rgba(255,99,132,1)',
                                    'rgba(54, 162, 235, 1)',
                                    'rgba(255, 206, 86, 1)',
                                    'rgba(75, 192, 192, 1)',
                                    'rgba(153, 102, 255, 1)',
                                    'rgba(255, 159, 64, 1)' ,
                                    'rgba(255, 99, 132, 1)',
                                    'rgba(54, 162, 235, 1)',
                                    'rgba(255, 206, 86, 1)',
                                    'rgba(75, 192, 192, 1)',
                                    'rgba(153, 102, 255, 1)'
                                ],
                                borderWidth: 4
                            }]
                        },
                        options: {
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero:true
                                    }
                                }]
                            }
                        }
                    });
                </script>
            </div>
            <div class="col-md-1 column">
            </div>
        </div>
        <div>
            <p>
            </p>
        </div>
        <div>
            <p>
            </p>
        </div>
        <div class="jumbotron well">
            <p>
                This diagram shows the total number of australia homeless and its structural proportion of different causes. 105237 Homelessness totally in australia and we can found that the top three causes are Domestic Violence, Financial Difficulties and Housing Crisis.
            </p>
        </div>
    </div>
</div>

</body>
</html>